<!DOCTYPE html>
<html>
<head>
  <title>EasyCheckin</title>

  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.min.js'></script>
  <link rel="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.css">
  <script type='text/javascript' src='fullcalendar/gcal.js'></script>
  <%= javascript_tag do %>
    $(document).ready(function() {
    $('#calendar').fullCalendar({
        events: 'http://www.google.com/calendar/feeds/vplcpmvlggn9njc4jh2hseqs58%40group.calendar.google.com/public/basic/'
      });
    });
  <% end %>
</script>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <% if @current_user %>
      <div class="col-md-2">
        <%= render 'layouts/side_navigation' %>
      </div>
      <div class="col-md-10">
        <%= yield %>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </div>

</body>
</html>